.html {
  height: 100%;
}

.page {
  background-color: #000;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  /*background-image: url(../images/header_bg.jpg);*/
  background-color: #19aa1e;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

.page__wrapper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  /*background-color: rgba(10, 0, 66, 0.5);*/
  background-color: #fff;
}


.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-bottom: 2px solid #19aa1e;
}

.header__container {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  margin: 0 auto;
  box-sizing: border-box;
  background-image: url(../images/header_bg.jpg);
  background-size: cover;
  color: #fff;
  min-height: 250px;
}

.logo {
  width: 130px;
  height: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /*background-image: url(../images/logo.png);*/
  background-image: url(../images/logo.png);
}

.header__title {
  font-size: 36px;
  line-height: 1.15;
  margin: 30px auto 0;
  text-align: center;
  text-shadow: 2px 2px 2px black;
}

.main {
  width: 100%;
  max-width: 800px;
  background-color: #fff;
  min-height: 300px;
  padding: 40px 40px;
  margin: 0 auto;
  box-sizing: border-box;
}

.footer {
  margin: auto auto 0;
  padding: 30px;
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
  border-top: 2px solid #19aa1e;
}

.footer__copyright {
  margin: 0;
  text-align: center;
}

.main__title {
  font-size: 24px;
  margin: 50px auto 90px;
  text-align: center;
}

.main__text {
  font-size: 16px;
  line-height: 26px;
  margin: 0;
}

.main__subtitle {
  font-size: 24px;
  line-height: 1.15;
  margin: 0 0 40px;
  text-align: left;
}

.cards {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 0 auto;
}

.card {
  width: 100%;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #19aa1e;
  color: #fff;
}

.link {
  color: #fff;
  text-decoration: none;
}

.link:hover {
  color: black;
}

.main__text-accent {
  text-decoration: underline;
}

.prefs {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin: 0 auto 80px;
}

.pref {
  width: 100%;
  max-width: 320px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pref__icon {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 30px;
}

.pref__title {
  margin: 0 0 20px;
  text-align: center;
  text-transform: uppercase;
}

.pref__text {
  margin: 0;
  text-align: center;
  max-width: 80%;
}

@media screen and (max-width: 768px) {
  .prefs {
    flex-direction: column;
    align-items: center;
  }
}


